<%- include("templates/cabecera",{titulo:"Crear Usuario"}) %>

<div class="container">
    <h1>Crear Usuario</h1>

    <form action="/usuarios" method="POST">
        <input type="text" name="nombre" placeholder="Nombre" class="form-control my-2" required>
        <input type="email" name="correo" placeholder="Correo" class="form-control my-2" required>
        <input type="text" name="rol" placeholder="Rol (basico/premium/admin)" class="form-control my-2">
        <input type="password" name="contraseña" placeholder="Contraseña" class="form-control my-2">

        <button class="btn btn-dark">Crear</button>
    </form>
</div>

<%- include("templates/cierre") %>
